{% extends "base.html" %}
{% load static tailwind_tags %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="px-10 py-6">
            <div class="grid grid-cols-2 gap-6 mt-6 ">
                <div class="card">

                    <img id="output" class="h-[60vh]" src="{{ object.image.url }}" alt="image">
                </div>
                <textarea readonly class="card">
                     {{ object.text }}
                </textarea>

            </div>
             <div class="p-6">
                    <a class="btn-danger " href="./delete/{{ object.id }}/">
                        Delete
                    </a>
             </div>
        </div>
        <script>
    let loadFile = function (event) {
        let image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
{% endblock %}